.custom-modal-header {
    background-color: #6c757d;
    color: #fff;
    border-bottom: 1px solid #495057;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.custom-modal-body {
    background-color: #f8f9fa;
}

.custom-modal-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #495057;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

/* CSS untuk gambar */
.custom-modal-img {
    max-width: 100%;
    height: auto;
}